@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
}

::-webkit-scrollbar-track {
  background: #acacac;;
  box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.144);
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-thumb {
  border-radius: 2px;
  background: #333333;
}

h1, h2 {
  position: relative;
  text-align: center;
  width: 100%;
  margin: 50px 0 50px 0;
  font-size: 3rem;
  color:#333333;
}

.main {
  position: relative;
  display: flex;
  justify-content: center;
  padding-bottom: 100px; 
  flex-wrap: wrap;
}

.cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: auto;
  gap: 50px;
  justify-content: center;
}

.container {
  cursor: pointer;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  border-radius: 10px;
  width: 300px;
  height: 200px;
  background-size: cover;
  transition: 0.3s;
}

.container:hover {
  transform: scale(1.1);
  box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.5);
}

.description {
  display: flex;
  height: 50px;
  width: 100%;
  border-radius: 0 0 10px 10px;
  justify-content: center;
  background: #ffffffb6;
  align-items: center;
}

.text {
  text-decoration: none;
  font-size: 1.2em;
  color: #363636;
  transition: 0.3s;
}

.container:hover .text {
  color: #000000;
}

.line {
  position: relative;
  margin-top: 50px;
  width: 80%;
  height: 2px;
  background: #333333;
}

.card {
  transform: translateY(50px);
  opacity: 0;
}

.card.show {
  opacity: 1;
  transition: all 1s;
  transform: translateY(0px);
}

@media only screen and (max-width: 1430px) and (min-width: 1090px) {
  .cards {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media only screen and (max-width: 1089px) and (min-width: 745px) {
  .main {
    top: 100px;
  }
  .cards {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media only screen and (max-width: 744px) {
  .main {
    top: 100px;
  }
  .cards {
    grid-template-columns: repeat(1, 1fr);
  }
}