@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
}

::-webkit-scrollbar-track {
  background: #acacac;
  box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.144);
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: #4e4e4e;
}

::-webkit-scrollbar-thumb:active {
  border-radius: 5px;
  background: #727272;
}

body {
  user-select: none;
  background: #f5f5f5;
  overflow-x: hidden;
  width: calc(100% + 15px);
  display: none;
}

h1, h2, p {
  cursor: default;
}

h1, h2 {
  position: relative;
  text-align: center;
  width: 100%;
  margin: 50px 0 50px 0;
  font-size: 3rem;
  color:#333333;
  /* text-shadow: 2px 2px 3px #585858; */
}

.style-pos {
  display: absolute;
  position: absolute;
  width: 100%;
  height: 65px;
  margin: 0;
  padding: 0;
}

.style {
  display: block;
  position: absolute;
  cursor: pointer;
  width: 50px;
  height: 50px;
  z-index: 10;
  right: 30px;
  top: 20px;
  transition: 0.3s;
}

.active {
  display: none;
}

.style:hover {
  transform: scale(1.1);
}

.main {
  min-height: calc(100vh - 200px);
  position: relative;
  display: flex;
  justify-content: center;
  margin-bottom: 100px; 
  flex-wrap: wrap;
}

.cards {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-auto-rows: auto;
  gap: 50px;
  justify-content: center;
}

.container {
  cursor: pointer;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  border-radius: 10px;
  width: 300px;
  height: 200px;
  background-size: cover;
  transition: 0.3s;
}

.container:hover {
  transform: scale(1.1);
  /* box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.5); */
}

.description {
  display: flex;
  height: 50px;
  width: 100%;
  border-radius: 0 0 10px 10px;
  justify-content: center;
  background: #cbcbcbb6;
  align-items: center;
}

.text {
  text-decoration: none;
  font-size: 1.2em;
  color: #363636;
  transition: 0.3s;
}

.container:hover .text {
  color: #000000;
}

.line {
  position: relative;
  margin-top: 50px;
  width: 80%;
  height: 2px;
  background: #363636;
}

.card {
  transform: translateY(50px);
  opacity: 0;
}

.card.show {
  opacity: 1;
  transition: all 1s;
  transform: translateY(0px);
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 30px;
  gap: 20px;
  width: 100%;
  height: 100px;
  background: #363636;
  color: #f5f5f5;
}

footer .contact {
  margin-top: 5px;
  display: flex;
  gap: 20px;
}

footer .back {
  position: relative;
}

footer .back::before {
  content: "";
  display: block;
  position: absolute;
  width: 30px;
  height: 30px;
  background: white;
  top: 5px;
  left: 3px;
  border-radius: 5px;
  z-index: 1;
  opacity: 0;
  transition: 0.5s;
}

footer a i {
  position: relative;
  z-index: 2;
  text-decoration: none;
  font-size: 40px;
  color: #f5f5f5;
  transition: 0.5s;
}

footer a:hover .back::before {
  opacity: 1;
}

footer a:hover i, footer a:hover .back::before {
  transform: scale(1.4);
}

footer a:hover .fa-vk {
  color: #0077FF;
}

footer a:hover .fa-square-github {
  color: #6e5494;
}

footer a:hover .fa-square-instagram {
  background-image: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}


.dark-theme-body {
  background: #0a0a0a;
}

.dark-theme-description {
  background: #343434b6;
}

.dark-theme-text {
  color: #c9c9c9;
}

/* .container.dark-theme-container:hover {
  box-shadow: 0px 5px 20px 0px rgba(255, 255, 255, 0.5);
} */

.container.dark-theme-container:hover .text {
  color: #fff;
}

.dark-theme-h1, .dark-theme-h2 {
  color: #cccccc;
  /* text-shadow: 2px 2px 3px #a7a7a7; */
}

.dark-theme-line {
  background: #c9c9c9;
}

.dark-theme-footer {
  background: #c9c9c9;
  color: #000;
}

i.dark-theme-i {
  color: #000;
}

@media only screen and (max-width: 2560px) and (min-width: 1921px) {
  .cards {
    grid-template-columns: repeat(5, 1fr);
  }
}

@media only screen and (max-width: 1920px) and (min-width: 1431px) {
  .cards {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media only screen and (max-width: 1430px) and (min-width: 1090px) {
  .cards {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media only screen and (max-width: 1089px)  {
  .cards {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media only screen and (max-width: 744px) {
  .style {
    width: 20px;
    height: 20px;
    top: 10px;
    right: 40px;
    scale: 0.8;
  }
  .cards {
    gap: 25px;
  }
  .container {
    width: 210px;
    height: 140px;
  }
  .text {
    font-size: 1em;
  }
}